body  {
    background-image: url("../img/gavel.jpg");
    background-position: top; /* Center the image */
    background-repeat: no-repeat;

    background-size: cover;
    background-color: #000000;


}
#backgroundimg{
  width: 100%;
  z-index: -1;
}
h1{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
p{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#button{
  padding: 10px;
  position: relative
}

.container{
  width: 100%;
  z-index: 1;

  display: flex;

  flex-direction: column;
  padding:10px;
  align-items: center;
  
}

#filter{
  background-color: #5280e9;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size: 16px;
  margin: 12px 2px;
  cursor: pointer;
}

.grid-container {
  display: grid;

  height: 30%;
  grid-template-columns: auto auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#topic {
  width: 300px;
  padding: 10px;
  height: 40px;
}

.grid-item{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputfields{
  width: 300px;
  padding: 10px;
  height: 40px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.dropdownitems{
  display: flex;
  justify-content: center;
  align-items: center;

}
select {
  border:1px solid gray;
  padding:.4em .6em;


}
table{
  background-color: #ffffff;
  margin-top: 15px;

  padding: 30px;

  border-collapse: collapse;
  font-family: "Helvetica";
  table-layout:fixed;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
}
table td, table th{

  border: 2px solid #000000;
  padding: 9px;
  overflow: hidden;
}

table th {
    background-color: #7D7D7D;
    color: white;
}

.dropdown{

  width: 250px;
  height: 40px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
