<html>
<head>
	<link href="../static/css/indexstyle.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/assets/js/main.js"></script>
</head>
<body>
	<div class="container">
		<h1> Supreme Court Transcripts </h1>
    <div class="grid-container">
      <div class="grid-item">

          <input class = "inputfields" id = "title" type="text" placeholder= "Title" value="{{title}}">

      </div>


      <div class="grid-item">
        <div class = "dropdownitems">
          <select name="cars" class = "dropdown" id = "year">
            <option value = "">--Year--</option>
						{% for year in years %}
						<option value="{{year}}" {% if selected_dict['year'] == year %}selected{%endif%}>{{year}}</option>
						{% endfor %}

          </select>
        </div>
      </div>
			<div class="grid-item">

          <input class = "inputfields" id = "topic" type="text" placeholder= "Topic" value="{{topic}}">

      </div>

      <div class="grid-item">
        <div class = "dropdownitems">
          <select name="cars" class = "dropdown" id = "month">
            <option value="">--Month--</option>
						{% for month in months%}
						<option value="{{month}}" {% if selected_dict['month'] == month %}selected{%endif%}>{{month}}</option>
						{% endfor %}

          </select>
        </div>
      </div>
			<div class="grid-item">

					<input class = "inputfields" id = "name" type="text" placeholder= "Name" value="{{name}}">

			</div>
      <div class="grid-item">
	        <div class = "dropdownitems">
	          <select class = "dropdown" id = "day">
	            <option value="">--Day--</option>
							{% for day in days%}
							<option value="{{day}}" {% if selected_dict['day'] == day %}selected{%endif%}>{{day}}</option>
							{% endfor %}
	          </select>
	      </div>
      </div>

    </div>
		<div>
			<button id = "filter"> FILTER </button>

		</div>

		<script>
		$('#filter').click(function() {
			//Reload the page to display the new data.
			//You could optionally work with Ajax
			
			window.location.href="/?title=" + $("#title").val() + "&topic=" + $("#topic").val() +
			"&name=" + $("#name").val()  +
			"&month=" + $("#month").val() + "&day=" + $("#day").val() + "&year=" + $("#year").val()
		});
		</script>


		<div>
			<table>
				{% if (records is defined) and records %}
				<tr>
			    <th>CASE</th>
			    <th>DATE</th>
			    <th>KEYWORDS</th>
					<th>ACTS/BILLS</th>
			    <th>SENTIMENT SCORE</th>

			  </tr>
				{% endif %}
				{% if (records is defined) and records %}
				      {% for record in records %}
				              <tr>

				                <td class="">{{record.title}}</td>
				                <td class="">{{record.date}}</td>
				                <td class="">{{record.keywords}}</td>
				                <td class="">{{record.acts}}</td>
				                <td class="">{{record.sentimentscore}}</td>


				              </tr>
				        {% endfor %}
				 {% endif %}
			</table>
	 </div>
	</div>

</body>


</html>
